body {
  background-color : #1abc9c ;
}
#getNewQuote{
  color : white;
	font-size: 300% ;
	font-family: FjallaOne , sans-serif;
	border : 8px white solid;
	padding-left: 3%;
	margin: 0 auto ;
	width: 90% ;
	border-radius : 5px;
}
#author {
  font-family: 'Dosis', sans-serif;
	font-style: italic;
	text-indent: 100px;
}
#tip {
  color : white;
	font-size: 35% ;
}
@media (max-width:500px){
	#getNewQuote{
	font-size: 200% ;
	padding-left: 1%;
	width: 100% ;
	}
}
img {
	display : block ;
	margin : 0 auto ; 
	padding-bottom : 10px
}